<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MPSC Typing</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="icon" type="image/x-icon" href="/images/Main@3x.png">

    <style>

        .table-container {
            background-color: #5f6368;
            /* Adjust the padding value as needed */
        }

        .table {
            width: 100%;
            border-collapse: collapse;
        }

        .table th,
        .table td {
            padding: 10px;
            border: 1px solid #ddd;
        }

        .table-dark {
            background-color: #343a4000;
            color: #fff;
        }

        .table-dark th,
        .table-dark td {
            border-color: #ffc10780;
            /* Warning border color */
        }

        /* Additional styling for instructions */
        .instruction-list {
            margin-top: 20px;
        }

        .instruction {
            margin-bottom: 20px;
        }

        .instruction h2 {
            color: #ffc107;
            /* Dark Blue */
        }

        .instruction p {
            color: #ffffff;
            /* Blue Grey */
        }

        .instruction ul {
            color: #ffffff;
            /* Blue Grey */
        }

        .card {
            padding-bottom: 10%;
        }
    </style>
    </style>
</head>


<body class="text-bg-dark">

    <nav class="navbar navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="images/Main@3x.png" alt="logo.png" width="115" height="75">
            </a>
            <div class="dropdown" data-bs-theme="dark">
                <button class="btn btn-secondary dropdown-toggle bg-dark" type="button" id="dropdownMenuButtonDark"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Institute Name
                </button>
                <!-- <ul class="dropdown-menu" aria-labelledby="dropdownMenuButtonDark">
                    <li><a class="dropdown-item" href="#"><i class="bi bi-box-arrow-right me-2"></i>Logout</a></li>
                </ul> -->
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="instruction">
            <h2>Essential Guidelines for Candidates in Mock Test</h2>
            <p>Follow these essential guidelines to ensure a smooth and successful mock test experience:</p>
            <!-- Add any additional guidelines here -->
            <div class="table-container">
                <table class="table table-bordered table-dark">
                    <thead>
                        <tr>
                            <th scope="col">Exam</th>
                            <th scope="col">Length</th>
                            <th scope="col">Mock Test Structure</th>
                            <th scope="col">Exam Duration</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Marathi Typing</th>
                            <td>1800 Keystroke</td>
                            <td>Keyboard Test (5 mins) + Break (5 mins) + Mock (10 mins) + Break (2 mins) + Marathi
                                Typing (10
                                mins)/(15 mins For Divyang Candidates)</td>
                            <td>32 mins (For Divyang Candidate 37 minutes)</td>
                        </tr>
                        <tr>
                            <th scope="row">English Typing</th>
                            <td>2200 Keystroke</td>
                            <td>Keyboard Test (5 mins) + Break (5 mins) + Mock (10 mins) + Break (2 mins) + English
                                Typing (10
                                mins)/(15 mins For Divyang Candidates)</td>
                            <td>32 mins (For Divyang Candidate 37 minutes)</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="container mt-5 mb-3 ">
        <div class="row">
            <div class="col-md-3">
                <div class="card p-3 text-bg-dark">
                    <div class="container mb-3 mt-2 border border-warning-subtle">
                        <div class="d-flex mt-2 justify-content-between">
                            <div class="d-flex flex-row align-items-center">
                            </div>
                            <div class="badge text-bg-warning"> <span>Mock Test</span> </div>
                        </div>
                        <div class="mt-3">
                            <h2 class="heading">Marathi</h2>
                            <div class="mt-4  mb-3">
                                <a href="mock/marathi/instruction"><button type="button" class="btn btn-warning">Take Test</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card p-3 text-bg-dark">
                    <div class="container mb-3 mt-2 border border-warning-subtle">
                        <div class="d-flex mt-2 justify-content-between">
                            <div class="d-flex flex-row align-items-center">
                            </div>
                            <div class="badge text-bg-warning"> <span>Mock Test</span> </div>
                        </div>
                        <div class="mt-3">
                            <h2 class="heading">English</h2>
                            <div class="mt-4  mb-3">
                               <a href="mock/english/instruction"><button type="button" class="btn btn-warning">Take Test</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>



    <!-- Instructions Section -->
    <div class="container">
        <div class="instruction-list">
            <div class="instruction">
                <h2>Read Instructions</h2>
                <p>Please carefully read the following instructions to avoid any time loss or disqualification.</p>
                <p>After reading the instructions, accept the declaration and click on "I'm ready to begin".</p>
            </div>

            <div class="instruction">
                <h2>Keyboard Layout</h2>
                <p>For Marathi Typing, use the Remington Marathi layout. For English Typing, use the English (US)
                    layout, which is the QWERTY keyboard layout.</p>
                <p>Note: In Marathi typing, use only the 'K' key to complete a letter, not Shift + A.</p>
            </div>

            <div class="instruction">
                <h2>Editing Text</h2>
                <p>You can edit typed text using the Backspace key to correct any incorrect words. Avoid using
                    navigation or arrow keys.</p>
                <p>Avoid using unnecessary special keys while typing, and ensure Caps Lock and Scroll Lock keys are off.
                </p>
            </div>

            <div class="instruction">
                <h2>Mistakes After Submission</h2>
                <p>After submitting the test, the following errors will be treated as mistakes:</p>
                <ul>
                    <li>Omission of a word</li>
                    <li>Substitution of a wrong word</li>
                    <li>Addition of a word not found in the passage</li>
                    <li>Spelling errors (repetition, addition, transposition, omission, substitution)</li>
                    <li>Wrong capitalization (for English typing only)</li>
                </ul>
                <p>One mistake equals one error.</p>
            </div>
        </div>
        <div class="instruction">
            <h2>त्रुटी (Mistakes)</h2>
            <ul>
                <li>प्रत्येक वगळलेल्या शब्दासाठी स्थानांतरण करा.</li>
                <li>चूकीच्या शब्दांच्या प्रत्येकासाठी सुस्थानांतरण करा.</li>
                <li>उताऱ्यात न आढळलेल्या शब्दांचे समावेश करा.</li>
                <li>पुन्हा बघून सुस्थानांतरित केलेल्या प्रत्येक लेखनाच्या त्रुटीसाठी, अक्षर/अक्षरांच्या स्थानांतरणासाठी
                    किंवा बदल किंवा वगळणे किंवा बदलणे, उदाहरणार्थ, 'जाहिरात' हा शब्द 'जाहिरातत' इत्यादी.</li>
                <li>चूकीचे कॅपिटलायझेशनः कॅपिटल अक्षराच्या लहान अक्षरासाठी सुस्थानांतरण आणि त्याचा उपयोग. (फक्त इंग्रजी
                    लेखनासाठी)</li>
                <li>एक चूक = एक त्रुटी</li>
            </ul>
        </div>
    </div>
    </div>


</body>

</html>